.form {
    text-align: left;
    width: 240px;
    height: 107px;
    padding: 1rem;
    border: 0.5px solid #C9D3DE;
    box-sizing: border-box;
    border-radius: 4px;
    margin: auto;

  }
  .form h1{
  font-family: "Cerebri Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  }
  .form p{
    font-family: Cerebri Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 13px;
    color: #4A5568;;
  }
  .form input[type=text]{
      color: yellow;
      padding: 5px 5px 5px 5px;
      color: #4A5568;;
  }
  ::placeholder{
    font-weight: 300;
    font-size: 10px;
  }