.up{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 300px;
    border: 0.5px dashed #718096;
    box-sizing: border-box;
    border-radius: 8px;
    background: #F7FAFC;
    padding: 10px 0px 7px 0px;
}
.up h4{
    font-family: Cerebri Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 13px;
    color: #4A5568;
}
.up p{
    font-family: Cerebri Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    color:#718096;
}
.img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #718096;
    border-radius: 50%;

}
.img img{
    margin-top: 10px;
}
.btn{
    border: 0.5px solid #A0AEC0;
    box-sizing: border-box;
    border-radius: 4px;
    background: white;
    padding: 5px;
    color: #4A5568;;
}
.btn:hover{
    background: #4A5568;
    color: white;
}